body{
    position: relative;
    background-color:  #FFE3DE ;
}

.boxes{
    position: relative;
    
    display: flex;
    justify-content: center;
    outline:  pink;
}

.hours,.seconds, .mains{
    position: relative;
    margin-top: 16%;
    width: 15%;
    margin-right: 3%;
    height: 170px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.04) ,2px 2px 2px 2px rgba(0, 0, 0, 0.04);
    background-color: white;
    color:#807A8A;
    font-size: 45px;
    text-align: center;
    
}